.xx{ 
    background-size: 'auto 100%';
    background-repeat: 'no-repeat';
    background-position: 'center top';
    background-color: #4286f4;
    color: red;
    border-radius: 0 0 9px 9px;
    height: 288px;
}