.button {
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #999;
    font-size:20px;
    width: 110px;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  
  .button2 {
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a80000;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #999;
    font-size:20px;
    width: 110px;
  }
  
  .button2:hover {background-color: #6e0000}
  
  .button2:active {
    background-color: #6e0000;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }


  .button3 {
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #cce200;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #999;
    font-size:20px;
    width: 20px;
  }
  
  .button3:hover {background-color: #9cad02}
  
  .button3:active {
    background-color: #9cad02;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  .description{
    background-color: white;
    height:289px;
    width:299px;

    position:absolute;
    margin-top:64px;
    border-radius: 0 0 9px 9px;
    z-index: 1;
    opacity: 0.8;
  }

  .buttons{
    display: "flex";
    justify-content: "space-between";
    padding-top:360px;
  }